body {
    margin: 0px;
    padding: 0px;
    background-color: #1f1d2c;
    text-align: center;
    font-size: 8px;
    font-family: "Press Start 2P";
    color: #fff;
}

body > #gamefield {
    height: 448px;
    line-height: 448px;
}

body > #gamefield > span {
    font-size: 16px;
}

body > #gamefield > canvas {
    margin: 0 auto;
}

body > h1 {
    font-size: 24px;
}

body > #credits {
    margin-top: 8px;
    line-height: 12px;
}

a {
    color: #a1cad4;
}

body > #embed {
    display: none;
}